@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
* {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}
body {
  /* overflow: hidden; */
}

.menu-btn {
  font-size: 1.3em;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
  z-index: 1;
}

.nav-container {
  z-index: 3;
}
.nav-item>a{
  font-size: 20px;
}
.nav-item ul {
  padding: 0 20px;
}
.nav-item ul a{
  font-size: 18px;
}

.section1 {
  width: 1400px;
  
  position:relative;
  left: 0;
  margin:0 auto; 
  padding:200px 0 50px 0;
  transition: left 0.3s;
}

.section1 .section-head {
  padding: 10px 20px;
}
.section1 .section-head h4 {
  font-size: 2em;
  font-weight: 500;
}
.section1 .section-body .section-side {
  padding: 15px;
  flex-grow: 2;
  flex-basis: 0;
}
.section1 .section-body .section-side ul li {
  margin: 20px 0;
}
.section1 .section-body .section-content {
  padding: 15px;
  flex-grow: 6;
  flex-basis: 0;

}
/* PC */
@media (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  #side {
    display: none;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /* #navbar-nav {
    display: none;
  } */
  header .logo {
    left: 50px !important;
  }
  #navbar-nav .nav-item ul {
    visibility: visible;
    background-color: #fff;
    padding: 10px 20px;
    transition: all .3s;
    opacity: 1;
    position: relative;
  }
  .nav-container {
    position: absolute;
    width: 380px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: white;
    padding: 50px 20px;
    display: block;
    transition: all .5s;
  }
  #navbar-nav .nav-item a{
    color: #333 !important;
  }
  .nav-container #navbar-nav {
    flex-direction: column;
  }
  .section1 {
    width: 95vw;
    right: 0;
  }
  .section1.on {
    /* position: absolute; */
    right: 424px;
    transition: right .3s;
  }
 
  .section1 .section-body {
    flex-direction: column;
  }
  .section-side ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .section-side ul li {
    margin: 0 10px !important;
  }
  
  
}
/* Mobile */
@media (max-width: 767px) {
  header .logo {
    left: 30px !important;
  }
  header .logo img {
    width: 100px;
  }
  /* #navbar-nav {
    display: none;
  } */
  .nav-container {
    position: absolute;
    width: 380px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: white;
    padding: 50px 20px;
    display: block;
    transition: all .5s;
  }
  #navbar-nav .nav-item a{
    color: #333 !important;
  }
  .nav-container #navbar-nav {
    flex-direction: column;
  }
  .section1 {
    width: 95vw;
    right: 0;
  }
  .section1.on {
    /* position: absolute; */
    right: 424px;
    transition: right .3s;
  }
  .section1 .section-head h4 {
    font-size: 1.5em;
    font-weight: 500;
  }
  .section1 .section-body {
    flex-direction: column;
  }
  
  .section-side ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
  }
  .section-side ul li {
    margin: 0 10px !important;
  }
}

